*{
    margin: 0;
    font-family: arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/**logo**/
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("FALCONS.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}
/**search bar**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #0f1111;
}

.border2:hover{
    border: 1.5px solid #febd68;
}
/**icons**/
.instagram{
    font-size: 1.2rem;
    display: flex;
    color: white;
}

.youtube{
    font-size: 1.2rem;
    display: flex;
}

.facebook{
    font-size: 1.2rem;
    display: flex;
}

.whatshapp{
    font-size: 1.2rem;
    display: flex;
}

/**hero page**/

.hero-section{
    background-image: url(hero.jpg);
    height: 450px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/**hero massage**/

.hero-massage{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 90%;
    margin-bottom: 25px;
}

/**content**/
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #3366ff;
}

.box{
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
}

.box-img{
    height: 300px;
    background-size: contain;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-content{
    margin-left: 10px;
    margin-right: 10px;
}

/**foot panel 1**/

footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}


.foot-panel2{
    background-color: #0f1111;
    height: 300px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul a{
    display: block;
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 10px;
}

